<div class="container">
  <div class="row">
    <% if users.exists? %>
      <% users.each do |user| %>
        <div class="col-auto col-md-3 mt-5 pl-5">
          <span style="font-family: cursive;">
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg", size: "100x100", class: "rounded-circle" %><br>
            <% end %>
            <span class="pl-2">Name: <%= user.name %></span><br>
            <span><%= render 'users/info', user: user %></span>
          </span>
        </div>
      <% end %>

    <% else %>
      <p>ユーザーがいません</p>
    <% end %>
  </div>
</div>